@import url(reset.css);

/*  TYPOGRAPHIE////////// */


/* Font Fammily---------------- */

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body{
 font-family: "Public Sans", sans-serif;
}



/* Font size - - - - - - - -  */

:root{
 --size-XXL: 64px;
 --size-XL: 32px;
 --size-L: 20px;
 --size-M: 16px;
 --size-S: 13px;

}

p { font-size: var(--size-M);}
h1{font-size: var(--size-XXL);}

/* Font Weight */

:root{
 --weight-light: 275;
 --weight-regular: 382;
 --weight-bold: 599;
}

body, p{ font-weight: var(--weight-regular);}
b, strong, h6, h5, h4, h3, h2 {font-weight: var(--weight-bold);}

h1{ font-weight: var(--weight-light);}



/* COULEUR ////////////////////////*/

:root{
 --Couleur-Principale: #3d2760;
}

h1{color: var(--Couleur-Principale);}
a{color: var(--Couleur-Principale);}

/* DECO ////////////////////////*/

a{
	text-decoration: none;

	text-decoration: underline;
	text-underline-offset: 0.3em;
	text-decoration-thickness: 1px;
	text-decoration-style: dotted;
}

/* MISE EN PAGE ////////////////////////*/

:root { --spacer: 1rem; }

.row { display: flex; gap: var(--spacer); }
.row > * { flex: 1; }

body {padding: var(--spacer); }

section{ min-height: 100vh;}

section {
	min-height: 100vh; 
	margin-top: calc( var(--spacer)* 3 ) ; }

section {display: flex;
		gap: var(--spacer) ;
		flex-wrap: wrap;
		justify-content: center;
}

section > h2 { flex: 0 0 100%; }
section > a { flex: 0 1 256px; }

section .vignette {
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 50%;
}

/* .vignette { max-width: 256px;} */

html, body {
	scroll-behavior: smooth;
}

nav {
	position: sticky;
	top: 0;
	background: #52ff4f;
	padding: 0.5rem 0;
}
h2 {
	position: sticky;
	top: 3rem;
	background: #ff00a6;
	padding: 0.5rem 0;
}