/* //////////////////////////////////////// */
/* // TYPOGRAPHIE ////////////////////////7 */


/* font family.                             */

@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');


body{
	background: #c9366c;
	font-family: "Schibsted Grotesk", sans-serif;
}

/* Font size                                  */

:root{
	--size-XXL: 64px;
	--size-XL: 32px;
	--size-L: 20px;
	--size-M: 16px;
	--size-S: 13px;
}

p { font-size: var(--size-M); }
h1 { font-size: var(--size-XXL); }

/*  Font weight.                             */

:root {
	--weight-light: 275;
	--weight-regular: 382;
	--weight-bold: 599;
}

h1 { font-weight: var(--weight-light); }

/* //////////////////////////////////////// */
/* // COULEUR ////////////////////////7 */

:root {
	--Couleur-Principale: #FF8800;
}

h1 { color: var(--Couleur-Principale);}
